/* .formContainer {
  margin-top: 70px;
  & img {
    width: 100%;
  }
}

.formCol {
  padding: 20px;
}

.formCol {
  & h1 {
    font-size: 42px;
    font-weight: 800;
    margin-bottom: 38px;
  }
  & span {
    font-weight: 100;
  }
}

.formImage {
  filter: grayscale(1);
  transition: all 0.2s ease;

  &:hover {
    filter: grayscale(0);
  }
}

.formCol label {
  display: block;
  font-weight: bold;
}

.formCol input[type="text"],
.formCol input[type="email"] {
  width: 100%;
  margin-bottom: 20px;
  border: 0;
  border-bottom: 1px solid;
  border-radius: 0;
  box-sizing: border-box;

  &:focus {
    box-shadow: none;
  }

  &:focus-visible {
    box-shadow: none;
  }
}

.formCol button[type="submit"] {
  display: block;
  max-width: 267px;
  width: 100%;
  padding: 10px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.formCol button[type="submit"]:hover {
  background-color: #333;
} */

.formContainer {
  margin-top: 70px;
  & img {
    width: 100%;
  }
}

.formCol {
  padding: 20px;

  & h1 {
    font-size: 42px;
    font-weight: 800;
    margin-bottom: 38px;
  }
  & span {
    font-weight: 300;
  }
}

.formImage {
  filter: grayscale(1);
  transition: all 0.2s ease;

  &:hover {
    filter: grayscale(0);
  }
}

.formCol label {
  display: block;
  font-weight: 500;
}

.formCol input[type="text"],
.formCol input[type="email"] {
  width: 100%;
  margin-bottom: 20px;
  border: 0;
  border-bottom: 1px solid;
  border-radius: 0;
  box-sizing: border-box;

  &:focus {
    box-shadow: none;
  }

  &:focus-visible {
    box-shadow: none;
  }
}

.formCol button[type="submit"] {
  display: block;
  max-width: 267px;
  width: 100%;
  padding: 10px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.formCol button[type="submit"]:hover {
  background-color: #333;
}

/* Responsive Styles */

@media (max-width: 1200px) {
  .formCol h1 {
    font-size: 36px;
  }

  .formCol {
    padding: 15px;
  }
}

@media (max-width: 992px) {
  .formCol h1 {
    font-size: 30px;
  }

  .formCol {
    padding: 16px;
  }
}

@media (max-width: 768px) {
  .formCol h1 {
    font-size: 24px;
  }

  .formCol input[type="text"],
  .formCol input[type="email"] {
    margin-bottom: 15px;
  }

  .formCol button[type="submit"] {
    padding: 8px;
  }

  /* .formCol {
    padding: 5px;
  } */
}

@media (max-width: 576px) {
  .formCol h1 {
    font-size: 20px;
  }

  .formCol input[type="text"],
  .formCol input[type="email"] {
    margin-bottom: 10px;
  }

  .formCol button[type="submit"] {
    padding: 6px;
  }
  /* 
  .formCol {
    padding: 0;
  } */
}
