.navbar {
  position: sticky;
  top: 0;
  background-color: #ffffff;
  z-index: 10;
}

.navItems a {
  padding: 20px 20px !important;
}

.navItems .contactusBtn {
  background-color: #000;
}
.contactusBtn {
  background: #000;
  border: 0;
  border-radius: 0;
  padding: 8px 24px;
  margin-left: 20px;

  &:hover {
    background-color: #000;
  }
}
