.homeGalleryContainer {
  & p {
    text-align: center;
    padding: 60px 0 77px 0;
    font-size: 35px;
    font-weight: lighter;
  }
}

.homegallary {
  & img {
    width: 100%;
    margin-bottom: 30px;
    filter: grayscale(1);
    object-fit: cover;
    transition: all 0.2s ease;
    &:hover {
      filter: grayscale(0);
    }
  }
}
