/* .homeGalleryContainer {
  & p {
    text-align: center;
    padding: 60px 0 77px 0;
    font-size: 35px;
    font-weight: lighter;
  }
}

.homegallary {
  & img {
    width: 100%;
    margin-bottom: 30px;
    filter: grayscale(1);
    object-fit: cover;
    transition: all 0.2s ease;
    &:hover {
      filter: grayscale(0);
    }
  }
} */

.homeGalleryContainer {
  /* text-align: center; */
  & p {
    text-align: center;
    padding: 60px 0 77px 0;
    font-size: 35px;
    font-weight: 300;
  }
}

.homegallary {
  /* display: flex;
  flex-wrap: wrap;
  justify-content: space-between; */
  & img {
    width: 100%;
    margin-bottom: 30px;
    filter: grayscale(1);
    object-fit: cover;
    transition: all 0.2s ease;
    &:hover {
      filter: grayscale(0);
    }
  }
}

.galleryImage {
  margin: 0 24px 24px 0;
  width: 100%;
}

/* Responsive Styles */

@media (max-width: 1200px) {
  .homeGalleryContainer p {
    font-size: 30px;
    padding: 50px 0 67px 0;
  }

  .homegallary img {
    margin-bottom: 25px;
  }
}

@media (max-width: 992px) {
  .homeGalleryContainer p {
    font-size: 25px;
    padding: 40px 0 57px 0;
  }

  .homegallary img {
    margin-bottom: 20px;
  }
}

@media (max-width: 768px) {
  .homeGalleryContainer p {
    font-size: 20px;
    padding: 30px 0 47px 0;
  }

  .homegallary img {
    margin-bottom: 15px;
    margin-right: 0;
  }
}

@media (max-width: 576px) {
  .homeGalleryContainer p {
    font-size: 18px;
    padding: 20px 0 37px 0;
  }

  .homegallary img {
    margin-bottom: 10px;
  }
}
