.sliderContainer {
  margin-top: 30px;
}

.sliderImage {
  width: 100%;
  object-fit: cover;
  max-height: 800px;
  padding: 0 20px;
  height: 100%;
  filter: grayscale(1);
  &:hover {
    filter: grayscale(0);
  }
  /* max-width: 1310px; */
  /* width: 1328px; */
  /* object-fit: cover; */
}

.sliderContainer h1 {
  color: #000;
  text-shadow: 2px 2px #333;
}

.carouselCaption {
  text-align: left;
  bottom: 1.5rem;
  left: 20%;
  /* max-width: 555px; */
  & span {
    font-weight: 300;
  }
}

.carouselCaption h1 {
  font-weight: 700;
  font-size: 60px;
}

.ourValues {
  padding-top: 92px;
  padding-bottom: 92px;
  padding-left: 0;
  padding-right: 0;

  & h1 {
    margin-top: 24px;
    text-align: end;
    font-weight: 100;
    font-size: 50px;
  }
  & p {
    font-size: 20px;
    font-weight: 600;
    padding-left: 100px;
  }
}

.iconicApprochSection {
  /* padding-top: 80px; */
}

.iconicApproch {
  margin-bottom: 65px;
  /* height: 605px; */
  width: 100%;
  position: relative;
  & img {
    filter: grayscale(1);
    transition: all 0.2s ease;
    width: 100%;
    object-fit: cover;
    &:hover {
      filter: grayscale(0);
    }
  }
  & h1 {
    position: absolute;
    bottom: 3%;
    color: #ffffff;
    font-size: 64px;
    font-weight: 800;
    left: 5%;
    text-shadow: 2px 2px 4px #000;
  }
}

/* Responsive Styles */

@media (max-width: 1200px) {
  .carouselCaption h1 {
    font-size: 50px;
  }

  .ourValues h1 {
    font-size: 45px;
  }

  .ourValues p {
    font-size: 18px;
    padding-left: 80px;
  }

  .iconicApproch h1 {
    font-size: 55px;
  }
}

@media (max-width: 992px) {
  .carouselCaption h1 {
    font-size: 40px;
  }

  .ourValues h1 {
    font-size: 40px;
  }

  .ourValues p {
    font-size: 16px;
    padding-left: 60px;
  }

  .iconicApproch h1 {
    font-size: 45px;
  }
}

@media (max-width: 768px) {
  .sliderImage {
    max-height: 500px;
  }

  .carouselCaption {
    text-align: center;
    left: 10%;
  }

  .carouselCaption h1 {
    font-size: 35px;
  }

  .ourValues {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .ourValues h1 {
    font-size: 35px;
    text-align: center;
  }

  .ourValues p {
    font-size: 14px;
    padding-left: 40px;
    /* text-align: center; */
  }

  .iconicApproch h1 {
    font-size: 35px;
  }
}

@media (max-width: 576px) {
  .sliderImage {
    max-height: 400px;
  }

  .carouselCaption h1 {
    font-size: 20px;
  }

  .ourValues h1 {
    font-size: 30px;
  }

  .ourValues p {
    font-size: 12px;
    padding-left: 20px;
  }

  /* .iconicApproch h1 {
    font-size: 25px;
  } */
}
